/* General */

html {
  font-size:16px;
}

/* Header */

header {
  height:4rem;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 1.5rem;

  background-color:lightgray;
}

header div {
  display:inline-flex;
  align-items:center;
}

header .head-right span {
  margin-left:1rem;
}
